
.background-one {
  padding-top: 37px;
  background-image: url(../Images/header-bg.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  
}

.background-two {
background-image: url(../Images/parallax-bg.jpeg);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-color: #0E0E0E;

}

header,
main {
  width: 1460px;
  margin: auto;
}

.header {
  display: flex;
  margin: 0 auto 120px;
  align-items: center;
}

.telephone {
  font-family: "Circe", "sans-serif";
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  text-align: left;
  color: #fff;
  margin-left: 824px;
  margin-right: 39px;
}

.colortext {
  color: #d6af76;
}

.callback {
  box-sizing: border-box;
  width: 218px;
  height: 50px;
  border: 1px solid #e4b564;
  color: #e4b564;
  font-family: "Circe", "sans-serif";
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  padding: 10px 25px;
}

p {
  color: #fff;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 50px;
  line-height: 28px;
  text-align: left;
  vertical-align: top;
  color: #fff;
}

.main-text {
  margin: 41px auto;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  vertical-align: top;
  color: #fff;
}

.kind {
  box-sizing: border-box;
  width: 467px;
  height: 468px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kind p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  vertical-align: top;
}

.ground-works {
  background-color: #634f2c;
  grid-column: 1 / 3;
}

.underground {
  background-color: #b4a385;
  padding-left: 44px;
  padding-right: 43px;
  justify-self: center;
  grid-column: 3 / 5;
}

.channels {
  background-color: #e4b564;
  justify-self: end;
  grid-column: 5 / 7;
}

.support {
  background-color: #635a4a;
  width: 715px;
  grid-column: 1 / 4;
}

.wells {
  background-color: #b08c4d;
  width: 715px;
  grid-column: 4 / 7;
  justify-self: end;
}

.wrapper-network {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  row-gap: 27px;
  margin-bottom: 161px;
}

.section-park h2 {
  margin-bottom: 94px;
}

.wrapper-park {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  row-gap: 24px;
}

.car-1 {
  width: 467px;
  height: 313px;
  background-color: #0e0e0e;
  grid-row: 1 / 3;
}

.car-2 {
  width: 467px;
  height: 439px;
  background-color: #242424;
  grid-row: 1 / 4;
}

.car-3 {
  width: 467px;
  height: 255px;
  background-color: #1f1f1f;
  grid-row: 1 / 2;
}

.car-4 {
  width: 467px;
  height: 560px;
  background-color: #1f1f1f;
  grid-row: 3 / 6;
}

.car-5 {
  width: 467px;
  height: 405px;
  background-color: #e4b564;
  grid-row: 4 / 6;
}

.car-6 {
  width: 467px;
  height: 313px;
  background-color: #0e0e0e;
  grid-row: 2 / 5;
}

.car-7 {
  width: 467px;
  height: 277px;
  background-color: #0a0909;
  grid-row: 5 / 6;
}

.section-park {
  padding-bottom: 191px;
}
.text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  margin-top: 44px;
  margin-left: 50px;


}

.car-name {
font-style: normal;
font-weight: 700;
margin-top: 0;
}
.text-car-7 {
  font-weight: 700;
}

.car-text-black {
  color: #000000;
}

.projects {
  padding: 172px 0 239px;
    
}

.flex-box {
  margin-bottom: 72px;
  display: flex;
  justify-content: space-between;
}


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #E4B564;
  width: 180px;
  height: 50px;
  border: 1px solid #E4B564;
  box-sizing: border-box;
}

.grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 391px 391px;
    
}

.client-one, .client-six {
  background: #634F2C;

}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-two {
  flex-direction: column;
  background: rgba(232, 210, 171, 0.76);
}

.bold-text {
display: inline-block;
width: 326px;
text-align: center;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 28px;

}

.normal-text {
font-weight: 400;
text-align: center;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-size: 22px;
line-height: 28px;
}

.client-three {
  background: #E4B564;
}
.client-four {
  background: #635A4A;
}

.client-five {
  background: #B08C4D;
}

.client-six {
  background: #634F2C;;
}